In [103]:
!python -m spacy download en_core_web_sm -q

2023-04-07 21:45:57.355731: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 54.9 MB/s eta 0:00:00
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [104]:
import pandas as pd

import spacy

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, confusion_matrix

In [106]:
# Creating the NLP object
nlp = spacy.load("en_core_web_sm")

nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

## Loading the Database

In [52]:
from pathlib import Path
import zipfile


zip_path = Path("/content/news_categories.zip")
dest_dir = Path("/content")

if not dest_dir.is_file():
    with zipfile.ZipFile(zip_path, "r") as zip_ref:
        print(f"[INFO] Unzipping dataset `{zip_path}` to `{dest_dir}/News_Category_Dataset_v3.json`...")
        zip_ref.extractall(dest_dir)

print(f"[INFO] Dataset succesfully downloaded to `{dest_dir}/News_Category_Dataset_v3.json`..")

[INFO] Unzipping dataset `/content/news_categories.zip` to `/content/News_Category_Dataset_v3.json`...
[INFO] Dataset succesfully downloaded to `/content/News_Category_Dataset_v3.json`..

## Understanding the Dataset

In [53]:
df = pd.read_json(dest_dir / "News_Category_Dataset_v3.json", lines=True)

df.head(3)

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23

In [54]:
df.shape

(209527, 6)

In [55]:
df.value_counts("category")

category
POLITICS          35602
WELLNESS          17945
ENTERTAINMENT     17362
TRAVEL             9900
STYLE & BEAUTY     9814
PARENTING          8791
HEALTHY LIVING     6694
QUEER VOICES       6347
FOOD & DRINK       6340
BUSINESS           5992
COMEDY             5400
SPORTS             5077
BLACK VOICES       4583
HOME & LIVING      4320
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3653
WOMEN              3572
CRIME              3562
IMPACT             3484
DIVORCE            3426
WORLD NEWS         3299
MEDIA              2944
WEIRD NEWS         2777
GREEN              2622
WORLDPOST          2579
RELIGION           2577
STYLE              2254
SCIENCE            2206
TECH               2104
TASTE              2096
MONEY              1756
ARTS               1509
ENVIRONMENT        1444
FIFTY              1401
GOOD NEWS          1398
U.S. NEWS          1377
ARTS & CULTURE     1339
COLLEGE            1144
LATINO VOICES      1130
CULTURE & ARTS     1074
EDUCATION          1014
dtype: int64

We see that the Dataset is imbalance.

## Preprocessing the Dataset

In [56]:
df = df[["short_description", "category"]]
df.rename(columns={"short_description": "Text"}, inplace=True)

df.head(3)

                                                Text   category
0  Health experts said it is too early to predict...  U.S. NEWS
1  He was subdued by passengers and crew when he ...  U.S. NEWS
2  "Until you have a dog you don't understand wha...     COMEDY

In [57]:
# Creating the Categories Directory
categories_l = list(set(df["category"].tolist()))
categories_d = {categories_l[i]: i for i in range(len(categories_l))}

len(categories_d)

42

In [58]:
df["Category"] = df["category"].apply(lambda x: categories_d[x])
df = df[["Text", "Category"]]

df.head(3)

                                                Text  Category
0  Health experts said it is too early to predict...        30
1  He was subdued by passengers and crew when he ...        30
2  "Until you have a dog you don't understand wha...        26

In [59]:
# Handling the imbalance of the Dataset, using undersampling
g = df.groupby("Category", group_keys=False)
df_balanced = g.apply(lambda x: x.sample(g.size().min()).reset_index(drop=True))

df_balanced.head(3)

                                                Text  Category
0  Not everyone was immediately so gung-ho about ...         0
1  Well, you know what they say ... older sibling...         0
2  In the children's interviews, researchers read...         0

In [60]:
df_balanced.value_counts("Category")

Category
0     1014
31    1014
23    1014
24    1014
25    1014
26    1014
27    1014
28    1014
29    1014
30    1014
32    1014
1     1014
33    1014
34    1014
35    1014
36    1014
37    1014
38    1014
39    1014
40    1014
22    1014
21    1014
20    1014
19    1014
2     1014
3     1014
4     1014
5     1014
6     1014
7     1014
8     1014
9     1014
10    1014
11    1014
12    1014
13    1014
14    1014
15    1014
16    1014
17    1014
18    1014
41    1014
dtype: int64

## Creating a Preprocessing Function

In [109]:
def preprocess(text: str) -> str:
    return " ".join(token.lemma_ for token in nlp(text) if (not token.is_stop) and (not token.is_punct))

## Splitting the Dataset into Training and Testing Sets

In [113]:
test_prop = 0.2

x_train, x_test, y_train, y_test = train_test_split(
    df["Text"].values,
    df["Category"].values,
    test_size=test_prop
)
x_train_bal, x_test_bal, y_train_bal, y_test_bal = train_test_split(
    df_balanced["Text"].values,
    df_balanced["Category"].values,
    test_size=test_prop,
    stratify=df_balanced["Category"] # gives us same number of elements per category on balanced datasets
)
x_train_bal_pre, x_test_bal_pre, y_train_bal_pre, y_test_bal_pre = train_test_split(
    df_balanced["Text"].apply(preprocess).values,
    df_balanced["Category"].values,
    test_size=test_prop,
    stratify=df_balanced["Category"]
)

print(len(x_train), len(y_train), len(x_test), len(y_test))
print(len(x_train_bal), len(y_train_bal), len(x_test_bal), len(y_test_bal))
print(len(x_train_bal_pre), len(y_train_bal_pre), len(x_test_bal_pre), len(y_test_bal_pre))

167621 167621 41906 41906
34070 34070 8518 8518
34070 34070 8518 8518

## BOW Model

### Training and Evaluating using the Imbalanced Dataset

In [115]:
clf = Pipeline([
    ("vectorizer_bow", CountVectorizer()),
    ("Multi NB", MultinomialNB())
])

clf.fit(x_train, y_train)

print("BOW: Imbalanced Data:")
print(classification_report(y_test, clf.predict(x_test), zero_division=0))

BOW: Imbalanced Data:
              precision    recall  f1-score   support

           0       0.31      0.52      0.39      1701
           1       0.84      0.04      0.08       510
           2       0.51      0.03      0.05       689
           3       0.88      0.02      0.05       281
           4       0.57      0.40      0.47      1316
           5       0.33      0.00      0.01       331
           6       0.51      0.07      0.12       649
           7       0.42      0.16      0.23      1149
           8       0.00      0.00      0.00       447
           9       0.58      0.64      0.60      1983
          10       0.29      0.85      0.44      3557
          11       0.68      0.15      0.25      1247
          12       0.80      0.16      0.27       887
          13       0.82      0.29      0.43       724
          14       1.00      0.01      0.01       177
          15       0.36      0.01      0.02       466
          16       0.56      0.01      0.03       721
          17       0.38      0.00      0.01       846
          18       0.80      0.04      0.07       414
          19       0.00      0.00      0.00       296
          20       0.71      0.01      0.03       352
          21       0.00      0.00      0.00       212
          22       0.00      0.00      0.00       270
          23       0.87      0.21      0.33       693
          24       0.60      0.01      0.01       575
          25       0.50      0.00      0.00       413
          26       0.38      0.02      0.04      1047
          27       0.38      0.87      0.53      7174
          28       0.73      0.14      0.24      1036
          29       0.50      0.02      0.04       885
          30       0.00      0.00      0.00       287
          31       0.00      0.00      0.00       272
          32       0.73      0.02      0.05       452
          33       0.30      0.02      0.03       529
          34       0.38      0.44      0.41      3493
          35       0.45      0.62      0.53      2019
          36       0.59      0.02      0.03      1335
          37       0.88      0.03      0.06       221
          38       1.00      0.01      0.01       607
          39       0.00      0.00      0.00       206
          40       0.48      0.11      0.18       739
          41       0.50      0.08      0.14       698

    accuracy                           0.39     41906
   macro avg       0.49      0.14      0.15     41906
weighted avg       0.47      0.39      0.30     41906

### Training and Evaluating using the Balanced Dataset

In [116]:
clf = Pipeline([
    ("vectorizer_bow", CountVectorizer()),
    ("Multi NB", MultinomialNB())
])

clf.fit(x_train_bal, y_train_bal)

print("BOW: Balanced Data:")
print(classification_report(y_test_bal, clf.predict(x_test_bal), zero_division=0))

BOW: Balanced Data:
              precision    recall  f1-score   support

           0       0.05      0.40      0.09       202
           1       0.64      0.16      0.25       203
           2       0.19      0.22      0.20       203
           3       0.26      0.35      0.30       203
           4       0.44      0.29      0.35       203
           5       0.28      0.12      0.17       203
           6       0.40      0.23      0.29       203
           7       0.22      0.09      0.13       203
           8       0.25      0.00      0.01       203
           9       0.48      0.47      0.47       202
          10       0.13      0.47      0.20       203
          11       0.46      0.13      0.21       203
          12       0.45      0.24      0.32       203
          13       0.40      0.61      0.48       203
          14       0.26      0.53      0.35       203
          15       0.26      0.22      0.24       203
          16       0.33      0.11      0.16       203
          17       0.20      0.06      0.10       203
          18       0.66      0.20      0.30       203
          19       0.00      0.00      0.00       203
          20       0.28      0.53      0.37       202
          21       0.53      0.09      0.15       203
          22       0.06      0.49      0.11       203
          23       0.44      0.51      0.47       203
          24       0.50      0.01      0.02       203
          25       0.50      0.09      0.16       203
          26       0.38      0.03      0.05       203
          27       0.37      0.23      0.28       202
          28       0.56      0.13      0.22       202
          29       0.40      0.13      0.20       203
          30       0.25      0.37      0.30       203
          31       0.60      0.03      0.06       203
          32       0.66      0.13      0.22       203
          33       0.35      0.10      0.15       203
          34       0.28      0.02      0.05       203
          35       0.36      0.47      0.41       202
          36       0.30      0.03      0.06       203
          37       0.26      0.35      0.30       203
          38       0.43      0.12      0.19       203
          39       0.36      0.13      0.19       202
          40       0.44      0.21      0.29       202
          41       0.51      0.18      0.26       203

    accuracy                           0.22      8518
   macro avg       0.36      0.22      0.22      8518
weighted avg       0.36      0.22      0.22      8518

### Training and Evaluating using the Preprocessed and Balanced Dataset

In [117]:
clf = Pipeline([
    ("vectorizer_bow", CountVectorizer()),
    ("Multi NB", MultinomialNB())
])

clf.fit(x_train_bal_pre, y_train_bal_pre)

print("BOW: Preprocessed Data:")
print(classification_report(y_test_bal_pre, clf.predict(x_test_bal_pre), zero_division=0))

BOW: Preprocessed Data:
              precision    recall  f1-score   support

           0       0.16      0.33      0.21       203
           1       0.42      0.21      0.28       203
           2       0.06      0.37      0.10       202
           3       0.30      0.36      0.33       202
           4       0.43      0.39      0.41       203
           5       0.18      0.12      0.15       203
           6       0.35      0.28      0.31       203
           7       0.29      0.19      0.23       203
           8       0.31      0.02      0.05       203
           9       0.40      0.53      0.46       203
          10       0.21      0.45      0.29       203
          11       0.39      0.20      0.27       203
          12       0.39      0.37      0.38       203
          13       0.43      0.62      0.51       203
          14       0.33      0.56      0.42       203
          15       0.29      0.22      0.25       203
          16       0.25      0.11      0.16       203
          17       0.18      0.10      0.13       202
          18       0.44      0.30      0.35       203
          19       0.24      0.02      0.04       203
          20       0.35      0.61      0.44       203
          21       0.45      0.19      0.27       203
          22       0.10      0.36      0.16       203
          23       0.44      0.53      0.48       202
          24       0.33      0.03      0.05       203
          25       0.41      0.19      0.26       203
          26       0.28      0.07      0.12       203
          27       0.28      0.30      0.29       203
          28       0.57      0.21      0.31       203
          29       0.41      0.24      0.30       203
          30       0.26      0.42      0.32       203
          31       0.43      0.08      0.13       203
          32       0.49      0.19      0.27       203
          33       0.38      0.20      0.26       203
          34       0.17      0.05      0.08       202
          35       0.35      0.45      0.39       203
          36       0.10      0.04      0.06       202
          37       0.29      0.35      0.32       203
          38       0.40      0.20      0.27       203
          39       0.32      0.24      0.27       202
          40       0.33      0.22      0.27       202
          41       0.40      0.23      0.29       203

    accuracy                           0.27      8518
   macro avg       0.32      0.27      0.26      8518
weighted avg       0.32      0.27      0.26      8518

## BO-ngrams Model

### Training and Evaluating using the Imbalanced Dataset

In [119]:
clf = Pipeline([
    ("vectorizer_bow", CountVectorizer(ngram_range=(1, 2))),
    ("Multi NB", MultinomialNB())
])

clf.fit(x_train, y_train)

print("BOW: Imbalanced Data:")
print(classification_report(y_test, clf.predict(x_test), zero_division=0))

BOW: Imbalanced Data:
              precision    recall  f1-score   support

           0       0.37      0.18      0.24      1701
           1       1.00      0.02      0.05       510
           2       0.50      0.00      0.00       689
           3       1.00      0.01      0.02       281
           4       0.60      0.09      0.16      1316
           5       0.00      0.00      0.00       331
           6       1.00      0.00      0.00       649
           7       0.70      0.01      0.02      1149
           8       0.00      0.00      0.00       447
           9       0.70      0.48      0.56      1983
          10       0.21      0.92      0.34      3557
          11       0.86      0.05      0.10      1247
          12       0.98      0.09      0.17       887
          13       0.89      0.15      0.26       724
          14       0.00      0.00      0.00       177
          15       0.00      0.00      0.00       466
          16       1.00      0.01      0.01       721
          17       0.50      0.00      0.00       846
          18       0.92      0.03      0.06       414
          19       0.00      0.00      0.00       296
          20       0.00      0.00      0.00       352
          21       0.00      0.00      0.00       212
          22       0.00      0.00      0.00       270
          23       0.91      0.06      0.11       693
          24       1.00      0.01      0.02       575
          25       0.00      0.00      0.00       413
          26       0.00      0.00      0.00      1047
          27       0.32      0.90      0.47      7174
          28       0.83      0.02      0.04      1036
          29       0.88      0.01      0.02       885
          30       0.00      0.00      0.00       287
          31       0.00      0.00      0.00       272
          32       1.00      0.01      0.01       452
          33       1.00      0.00      0.00       529
          34       0.51      0.27      0.35      3493
          35       0.57      0.37      0.45      2019
          36       1.00      0.01      0.02      1335
          37       1.00      0.02      0.04       221
          38       0.00      0.00      0.00       607
          39       0.00      0.00      0.00       206
          40       0.62      0.01      0.02       739
          41       0.60      0.00      0.01       698

    accuracy                           0.32     41906
   macro avg       0.51      0.09      0.09     41906
weighted avg       0.52      0.32      0.22     41906

### Training and Evaluating using the Balanced Dataset

In [120]:
clf = Pipeline([
    ("vectorizer_bow", CountVectorizer(ngram_range=(1, 2))),
    ("Multi NB", MultinomialNB())
])

clf.fit(x_train_bal, y_train_bal)

print("BOW: Balanced Data:")
print(classification_report(y_test_bal, clf.predict(x_test_bal), zero_division=0))

BOW: Balanced Data:
              precision    recall  f1-score   support

           0       0.04      0.35      0.08       202
           1       0.58      0.11      0.18       203
           2       0.16      0.18      0.17       203
           3       0.25      0.33      0.29       203
           4       0.41      0.15      0.22       203
           5       0.25      0.06      0.10       203
           6       0.53      0.25      0.34       203
           7       0.18      0.06      0.09       203
           8       0.50      0.00      0.01       203
           9       0.49      0.39      0.43       202
          10       0.12      0.48      0.19       203
          11       0.44      0.11      0.17       203
          12       0.52      0.22      0.31       203
          13       0.41      0.59      0.49       203
          14       0.23      0.50      0.32       203
          15       0.28      0.21      0.24       203
          16       0.40      0.08      0.14       203
          17       0.30      0.07      0.11       203
          18       0.75      0.19      0.30       203
          19       0.33      0.00      0.01       203
          20       0.27      0.54      0.36       202
          21       0.46      0.05      0.10       203
          22       0.06      0.53      0.10       203
          23       0.46      0.48      0.47       203
          24       0.33      0.00      0.01       203
          25       0.35      0.05      0.09       203
          26       0.48      0.05      0.09       203
          27       0.34      0.17      0.22       202
          28       0.65      0.08      0.15       202
          29       0.41      0.09      0.15       203
          30       0.27      0.37      0.31       203
          31       0.60      0.01      0.03       203
          32       0.76      0.11      0.19       203
          33       0.45      0.08      0.14       203
          34       0.25      0.01      0.02       203
          35       0.31      0.41      0.36       202
          36       0.25      0.03      0.05       203
          37       0.27      0.34      0.30       203
          38       0.46      0.08      0.14       203
          39       0.39      0.10      0.16       202
          40       0.46      0.18      0.26       202
          41       0.62      0.17      0.26       203

    accuracy                           0.20      8518
   macro avg       0.38      0.20      0.19      8518
weighted avg       0.38      0.20      0.19      8518

### Training and Evaluating using the Preprocessed and Balanced Dataset

In [121]:
clf = Pipeline([
    ("vectorizer_bow", CountVectorizer(ngram_range=(1, 2))),
    ("Multi NB", MultinomialNB())
])

clf.fit(x_train_bal_pre, y_train_bal_pre)

print("BOW: Preprocessed Data:")
print(classification_report(y_test_bal_pre, clf.predict(x_test_bal_pre), zero_division=0))

BOW: Preprocessed Data:
              precision    recall  f1-score   support

           0       0.16      0.36      0.22       203
           1       0.45      0.20      0.28       203
           2       0.05      0.35      0.09       202
           3       0.28      0.39      0.33       202
           4       0.44      0.36      0.40       203
           5       0.16      0.10      0.12       203
           6       0.41      0.28      0.33       203
           7       0.31      0.18      0.23       203
           8       0.30      0.01      0.03       203
           9       0.43      0.53      0.47       203
          10       0.20      0.47      0.28       203
          11       0.43      0.22      0.29       203
          12       0.43      0.34      0.38       203
          13       0.43      0.62      0.51       203
          14       0.33      0.62      0.43       203
          15       0.30      0.22      0.25       203
          16       0.27      0.11      0.15       203
          17       0.17      0.06      0.09       202
          18       0.48      0.28      0.35       203
          19       0.33      0.02      0.04       203
          20       0.32      0.63      0.43       203
          21       0.51      0.19      0.27       203
          22       0.09      0.37      0.15       203
          23       0.45      0.56      0.50       202
          24       0.40      0.03      0.06       203
          25       0.42      0.17      0.24       203
          26       0.29      0.08      0.12       203
          27       0.28      0.29      0.29       203
          28       0.62      0.20      0.30       203
          29       0.41      0.22      0.29       203
          30       0.25      0.45      0.32       203
          31       0.44      0.07      0.13       203
          32       0.58      0.19      0.29       203
          33       0.44      0.21      0.29       203
          34       0.23      0.05      0.08       202
          35       0.34      0.46      0.39       203
          36       0.16      0.03      0.06       202
          37       0.29      0.42      0.34       203
          38       0.47      0.21      0.29       203
          39       0.35      0.23      0.28       202
          40       0.39      0.20      0.27       202
          41       0.43      0.21      0.28       203

    accuracy                           0.27      8518
   macro avg       0.35      0.27      0.26      8518
weighted avg       0.35      0.27      0.26      8518