In [29]:
import yfinance as yf
import finplot as fplt

import pandas as pd
from datetime import datetime

Yahoo Finance is definitely one of the most popular sources of stock market data available for retail traders, and is as such the first data source that most of us used back when we got started.

Although there are more than a few Python libraries that enable coders to have programmatic access to the unofficial API of Yahoo Finance, yfinance stands out as one of the oldest, most reliable, and actively used libraries out there.

## Fetch Historical Prices

In [2]:
## Creating the Ticker
apple_ticker = yf.Ticker("AAPL")

In [4]:
## Get the daily prices for a given time period
end_date = datetime.now().strftime(r"%Y-%m-%d")
history = apple_ticker.history(start="2024-03-01", end=end_date)

history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-03-01 00:00:00-05:00,179.550003,180.529999,177.380005,179.660004,73488000,0.0,0.0
2024-03-04 00:00:00-05:00,176.149994,176.899994,173.789993,175.100006,81510100,0.0,0.0
2024-03-05 00:00:00-05:00,170.759995,172.039993,169.619995,170.119995,95132400,0.0,0.0
2024-03-06 00:00:00-05:00,171.059998,171.240005,168.679993,169.119995,68436900,0.0,0.0

By default, yahoo returns daily data, but we can also parametrize the bar size. It is worth mentioning that different bar sizes have different limitations regarding how far back we can go in time.

The following bar sizes are available:

| Code | Barsize    | Max Days      |
| ---- | ---------- | ------------- |
| 1m   | 1 Minute   | 7 Days        |
| 2m   | 2 Minutes  | 60 Days       |
| 5m   | 5 Minutes  | 60 Days       |
| 15m  | 15 Minutes | 60 Days       |
| 30m  | 30 Minutes | 60 Days       | 
| 60m  | 1 Hour     | 730 Days      |
| 90m  | 90 Minutes | 60 Days       | 
| 1h   | 1 Hour     | 730 Days      |
| 1d   | 1 Day      | Total Hisotry |
| 5d   | 5 Days     | Total Hisotry |
| 1wk  | 1 Week     | Total Hisotry |
| 1mo  | 1 Month    | Total Hisotry |
| 3mo  | 3 Months   | Total Hisotry |

Requesting an interval (start – end) greater than the limitations will result in an error. You can avoid this error by only asking for the maximum allowed days of data. This is done by setting the parameter “period” to ‘max’, in addition to either “end” or “start” (but not both)

In [6]:
history = apple_ticker.history(period="max", end=end_date, interval="1m")

history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-02-29 09:30:00-05:00,182.000000,182.169998,182.000000,182.169998,1982744,0.0,0.0
2024-02-29 09:31:00-05:00,182.130005,182.130005,182.130005,182.130005,417244,0.0,0.0
2024-02-29 09:32:00-05:00,182.148804,182.160004,182.108505,182.154999,286258,0.0,0.0
2024-02-29 09:33:00-05:00,182.089996,182.100006,182.039993,182.039993,173722,0.0,0.0
2024-02-29 09:34:00-05:00,182.039993,182.360001,181.940002,182.094696,276645,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-06 15:55:00-05:00,169.240005,169.250000,169.024994,169.160004,295407,0.0,0.0
2024-03-06 15:56:00-05:00,169.169998,169.169998,169.154999,169.154999,248562,0.0,0.0
2024-03-06 15:57:00-05:00,169.110001,169.119995,169.100006,169.119995,269594,0.0,0.0
2024-03-06 15:58:00-05:00,169.119202,169.176498,169.040100,169.160095,435112,0.0,0.0
2024-03-06 15:59:00-05:00,169.110001,169.130005,169.110001,169.119995,762761,0.0,0.0

It is also possible to retrieve historical data of more assets with a single request. This can be done by instantiating a Tickers object (plural instead of singular).

In [7]:
companies = ["AMZN","GOOG","WMT","TSLA","META"] 
tickers = yf.Tickers(companies)
tickers_hist = tickers.history(period="max",end=end_date,interval="1m")

tickers_hist

[*********************100%%**********************]  5 of 5 completed

Price                           Close                                      \
Ticker                           AMZN        GOOG        META        TSLA
Datetime
2024-02-29 09:30:00-05:00  173.380005  138.470001  488.250092  205.011993
2024-02-29 09:31:00-05:00  173.100006  138.320007  487.500000  203.622604
2024-02-29 09:32:00-05:00  173.630005  138.580002  486.799988  203.830002
2024-02-29 09:33:00-05:00  173.679993  138.617493  488.022308  203.809998
2024-02-29 09:34:00-05:00  173.750000  138.910004  488.019989  203.705002
...                               ...         ...         ...         ...
2024-03-06 15:55:00-05:00  173.699997  132.585007  496.750000  176.690002
2024-03-06 15:56:00-05:00  173.645004  132.535004  496.614990  176.759995
2024-03-06 15:57:00-05:00  173.639999  132.520004  496.399994  176.720001
2024-03-06 15:58:00-05:00  173.596207  132.559998  496.250000  176.500000
2024-03-06 15:59:00-05:00  173.490005  132.539993  496.059998  176.500000

Price                                Dividends                      ...  \
Ticker                           WMT      AMZN GOOG META TSLA  WMT  ...
Datetime                                                            ...
2024-02-29 09:30:00-05:00  59.270000       0.0  0.0  0.0  0.0  0.0  ...
2024-02-29 09:31:00-05:00  59.330002       0.0  0.0  0.0  0.0  0.0  ...
2024-02-29 09:32:00-05:00  59.250099       0.0  0.0  0.0  0.0  0.0  ...
2024-02-29 09:33:00-05:00  59.209999       0.0  0.0  0.0  0.0  0.0  ...
2024-02-29 09:34:00-05:00  59.192501       0.0  0.0  0.0  0.0  0.0  ...
...                              ...       ...  ...  ...  ...  ...  ...
2024-03-06 15:55:00-05:00  60.595001       0.0  0.0  0.0  0.0  0.0  ...
2024-03-06 15:56:00-05:00  60.575001       0.0  0.0  0.0  0.0  0.0  ...
2024-03-06 15:57:00-05:00  60.570000       0.0  0.0  0.0  0.0  0.0  ...
2024-03-06 15:58:00-05:00  60.595001       0.0  0.0  0.0  0.0  0.0  ...
2024-03-06 15:59:00-05:00  60.549999       0.0  0.0  0.0  0.0  0.0  ...

Price                     Stock Splits                         Volume  \
Ticker                            AMZN GOOG META TSLA  WMT       AMZN
Datetime
2024-02-29 09:30:00-05:00          0.0  0.0  0.0  0.0  0.0  1487228.0
2024-02-29 09:31:00-05:00          0.0  0.0  0.0  0.0  0.0   198081.0
2024-02-29 09:32:00-05:00          0.0  0.0  0.0  0.0  0.0   260260.0
2024-02-29 09:33:00-05:00          0.0  0.0  0.0  0.0  0.0   247057.0
2024-02-29 09:34:00-05:00          0.0  0.0  0.0  0.0  0.0   140353.0
...                                ...  ...  ...  ...  ...        ...
2024-03-06 15:55:00-05:00          0.0  0.0  0.0  0.0  0.0   275374.0
2024-03-06 15:56:00-05:00          0.0  0.0  0.0  0.0  0.0   196351.0
2024-03-06 15:57:00-05:00          0.0  0.0  0.0  0.0  0.0   245129.0
2024-03-06 15:58:00-05:00          0.0  0.0  0.0  0.0  0.0   195129.0
2024-03-06 15:59:00-05:00          0.0  0.0  0.0  0.0  0.0   568166.0

Price
Ticker                          GOOG      META       TSLA       WMT
Datetime
2024-02-29 09:30:00-05:00  1039620.0  506027.0  3354821.0  440873.0
2024-02-29 09:31:00-05:00   299706.0   71268.0   693902.0   49784.0
2024-02-29 09:32:00-05:00   112627.0   58955.0   606186.0   94048.0
2024-02-29 09:33:00-05:00   114928.0   58988.0   499806.0   86935.0
2024-02-29 09:34:00-05:00   173226.0   41509.0   441711.0   49369.0
...                              ...       ...        ...       ...
2024-03-06 15:55:00-05:00   196129.0   63731.0   296703.0  123362.0
2024-03-06 15:56:00-05:00   116859.0   48152.0   230779.0  116997.0
2024-03-06 15:57:00-05:00   133426.0   87636.0   374571.0  111002.0
2024-03-06 15:58:00-05:00   177877.0   72124.0   411227.0  129348.0
2024-03-06 15:59:00-05:00   349512.0  189621.0   694877.0  450907.0

[1949 rows x 35 columns]

In [8]:
## We can transform the structure in a more convenient way by using the code below:
tickers_hist.stack(level=1).rename_axis(["Date", "Ticker"]).reset_index(level=1)

C:\Users\jacob\AppData\Local\Temp\ipykernel_1632\3061999738.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  tickers_hist.stack(level=1).rename_axis(["Date", "Ticker"]).reset_index(level=1)

Price,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume
Date,,,,,,,,
2024-02-29 09:30:00-05:00,AMZN,173.380005,0.0,173.585007,173.250000,173.437500,0.0,1487228.0
2024-02-29 09:30:00-05:00,GOOG,138.470001,0.0,138.529999,138.315903,138.500000,0.0,1039620.0
2024-02-29 09:30:00-05:00,META,488.250092,0.0,488.527496,488.130005,488.500000,0.0,506027.0
2024-02-29 09:30:00-05:00,TSLA,205.011993,0.0,205.250000,205.000000,205.000000,0.0,3354821.0
2024-02-29 09:30:00-05:00,WMT,59.270000,0.0,59.490002,59.240002,59.450001,0.0,440873.0
...,...,...,...,...,...,...,...,...
2024-03-06 15:59:00-05:00,AMZN,173.490005,0.0,173.595001,173.479996,173.589996,0.0,568166.0
2024-03-06 15:59:00-05:00,GOOG,132.539993,0.0,132.539993,132.529999,132.539993,0.0,349512.0
2024-03-06 15:59:00-05:00,META,496.059998,0.0,496.429993,496.040009,496.250000,0.0,189621.0
2024-03-06 15:59:00-05:00,TSLA,176.500000,0.0,176.559998,176.500000,176.559998,0.0,694877.0
2024-03-06 15:59:00-05:00,WMT,60.549999,0.0,60.619999,60.549999,60.595001,0.0,450907.0

It is sometimes convenient to store the retrieved data locally instead of requesting it multiple times

In [9]:
tickers_hist.to_csv("all_data.csv")

The “history” function includes lots of parameters, and knowing them is important in order to correctly interpret the data you’re receiving:

* **period**: As seen before, especially useful is the value “max”. The following are the valid values: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max.
* **interval**: Defines the size of each bar. Smaller bar sizes have more strict limitations, and only 7 days of 1-minute data can be retrieved. The following are the valid values: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
* **start**: Start date. The server expects a string formatted as YYYY-MM-DD.
* **end**: End date. The server expects a string formatted as YYYY-MM-DD.
* **repost**: Defines whether to include or not data not corresponding to regular trading hours. The default value is False
* **auto_adjust**: whether to adjust prices to stock splits and dividend payments. The default value is True.

## Fetch Fundamental Data

Yahoo Finance also allows fetching a multitude of financial information, such as balance sheet data, historical events, and commonly used ratios. The same ticker object used before can fetch the following information:

* **get_action**: returns the dates of dividend payouts and stock splits
* **get_analysis**: returns projections and forecasts of relevant financial variables, such as growth, earnings estimates, revenue estimates, EPS trends, etc. It returns the data available on yahoo finance under the “Analysis” tab ([example](https://finance.yahoo.com/quote/AMZN/analysis?p=AMZN)).
* **get_balance_sheet**: returns historical yearly balance sheet data of a given company. It is analogous to the information available on Yahoo Finance under the “Balance Sheet” section of the “Financials” tab ([example](https://finance.yahoo.com/quote/AMZN/balance-sheet?p=AMZN)).
* **get_calendar**: returns important future dates and the datatype that is going to be disclosed on said date, in addition to their current estimates (low, average, and high).
* **get_cashflow**: returns the historical yearly cash flows of a given company. Analogous to the “Cash Flow” section under the “Financials” tab in Yahoo Finance ([example](https://finance.yahoo.com/quote/AMZN/cash-flow?p=AMZN)).
* **get_info**: returns a dictionary with relevant information regarding a given company’s profile. Zip Code, industry sector, employee count, summary, city, phone, state, country, website, address, etc.
* **get_institutional_holders**: returns the list of relevant institutional holders (such as Vanguard, BlackRock, etc.). It consists of a dataframe with the institution’s name, the number of shares it holds, the date said information was reported, the percentage it represents in relation to total shares outstanding, and the total value of the holdings.
* **get_news**: returns a list of relevant news, as posted on Yahoo Finance.
* **get_recommendations**: returns a dataframe with the current recommendations of a list of relevant rating agencies and firm.
* **get_sustainability**: returns a dataframe of information regarding some relevant metrics for investors with ESG objectives or moral/ethical requirements. Some features are scores (ESG metrics), whereas others are classifications (gambling, alcohol, weapons).

In [16]:
tsla = yf.Ticker("TSLA")

actions = tsla.get_actions()
balance = tsla.get_balance_sheet()
calendar = tsla.get_calendar()
cf = tsla.get_cashflow()
info = tsla.get_info()
inst_holders = tsla.get_institutional_holders()
news = tsla.get_news()
recommendations = tsla.get_recommendations()

In [17]:
actions

                           Dividends  Stock Splits
Date
2020-08-31 00:00:00-04:00        0.0           5.0
2022-08-25 00:00:00-04:00        0.0           3.0

In [18]:
balance

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
TreasurySharesNumber,0.0,NaN,NaN,NaN
OrdinarySharesNumber,3185000000.0,3164000000.0,3099000000.0,2880000000.0
ShareIssued,3185000000.0,3164000000.0,3099000000.0,2880000000.0
TotalDebt,9573000000.0,5748000000.0,8873000000.0,13279000000.0
TangibleBookValue,62019000000.0,44111000000.0,28472000000.0,21705000000.0
...,...,...,...,...
CashCashEquivalentsAndShortTermInvestments,29094000000.0,22185000000.0,17707000000.0,19384000000.0
OtherShortTermInvestments,12696000000.0,5932000000.0,131000000.0,0.0
CashAndCashEquivalents,16398000000.0,16253000000.0,17576000000.0,19384000000.0
CashEquivalents,495000000.0,2288000000.0,NaN,NaN
CashFinancial,15903000000.0,13965000000.0,NaN,NaN

In [19]:
calendar

{'Earnings Date': [datetime.date(2024, 4, 17), datetime.date(2024, 4, 22)],
 'Earnings High': 0.9,
 'Earnings Low': 0.4,
 'Earnings Average': 0.67,
 'Revenue High': 28329000000,
 'Revenue Low': 24127100000,
 'Revenue Average': 25384000000}

In [20]:
cf

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
FreeCashFlow,4357000000.0,7552000000.0,3483000000.0,2701000000.0
RepaymentOfDebt,-1815000000.0,-3866000000.0,-14615000000.0,-12201000000.0
IssuanceOfDebt,3931000000.0,0.0,8883000000.0,9713000000.0
IssuanceOfCapitalStock,NaN,0.0,0.0,12269000000.0
CapitalExpenditure,-8899000000.0,-7172000000.0,-8014000000.0,-3242000000.0
InterestPaidSupplementalData,126000000.0,152000000.0,266000000.0,444000000.0
IncomeTaxPaidSupplementalData,1119000000.0,1203000000.0,561000000.0,115000000.0
EndCashPosition,17189000000.0,16924000000.0,18144000000.0,19901000000.0
BeginningCashPosition,16924000000.0,18144000000.0,19901000000.0,6783000000.0
EffectOfExchangeRateChanges,4000000.0,-444000000.0,-183000000.0,334000000.0
ChangesInCash,261000000.0,-776000000.0,-1574000000.0,12784000000.0
FinancingCashFlow,2589000000.0,-3527000000.0,-5203000000.0,9973000000.0
CashFlowFromContinuingFinancingActivities,2589000000.0,-3527000000.0,-5203000000.0,9973000000.0
NetOtherFinancingCharges,-227000000.0,-202000000.0,-178000000.0,-225000000.0
ProceedsFromStockOptionExercised,700000000.0,541000000.0,707000000.0,417000000.0
NetCommonStockIssuance,NaN,0.0,0.0,12269000000.0
CommonStockIssuance,NaN,0.0,0.0,12269000000.0
NetIssuancePaymentsOfDebt,2116000000.0,-3866000000.0,-5732000000.0,-2488000000.0
NetLongTermDebtIssuance,2116000000.0,-3866000000.0,-5732000000.0,-2488000000.0
LongTermDebtPayments,-1815000000.0,-3866000000.0,-14615000000.0,-12201000000.0
LongTermDebtIssuance,3931000000.0,0.0,8883000000.0,9713000000.0
InvestingCashFlow,-15584000000.0,-11973000000.0,-7868000000.0,-3132000000.0
CashFlowFromContinuingInvestingActivities,-15584000000.0,-11973000000.0,-7868000000.0,-3132000000.0
NetOtherInvestingChanges,NaN,76000000.0,6000000.0,123000000.0
NetInvestmentPurchaseAndSale,-6621000000.0,-5813000000.0,-132000000.0,0.0
SaleOfInvestment,12491000000.0,22000000.0,0.0,NaN
PurchaseOfInvestment,-19112000000.0,-5835000000.0,-132000000.0,0.0
NetBusinessPurchaseAndSale,-64000000.0,0.0,0.0,-13000000.0
SaleOfBusiness,NaN,0.0,0.0,NaN
PurchaseOfBusiness,-64000000.0,0.0,0.0,-13000000.0
NetIntangiblesPurchaseAndSale,0.0,927000000.0,-1228000000.0,-10000000.0
SaleOfIntangibles,0.0,936000000.0,272000000.0,0.0
PurchaseOfIntangibles,0.0,-9000000.0,-1500000000.0,-10000000.0
NetPPEPurchaseAndSale,-8899000000.0,-7163000000.0,-6514000000.0,-3232000000.0
PurchaseOfPPE,-8899000000.0,-7163000000.0,-6514000000.0,-3232000000.0
OperatingCashFlow,13256000000.0,14724000000.0,11497000000.0,5943000000.0
CashFlowFromContinuingOperatingActivities,13256000000.0,14724000000.0,11497000000.0,5943000000.0
ChangeInWorkingCapital,-2248000000.0,-3712000000.0,667000000.0,184000000.0
ChangeInOtherWorkingCapital,1532000000.0,1131000000.0,793000000.0,328000000.0
ChangeInOtherCurrentLiabilities,NaN,1904000000.0,476000000.0,495000000.0
ChangeInOtherCurrentAssets,-1952000000.0,-1570000000.0,-2114000000.0,-1416000000.0
ChangeInPayablesAndAccruedExpense,2605000000.0,8029000000.0,5367000000.0,2102000000.0
ChangeInPayable,2605000000.0,8029000000.0,5367000000.0,NaN
ChangeInAccountPayable,2605000000.0,8029000000.0,5367000000.0,NaN
ChangeInPrepaidAssets,-2652000000.0,-3713000000.0,-1540000000.0,-251000000.0
ChangeInInventory,-1195000000.0,-6465000000.0,-1709000000.0,-422000000.0
ChangeInReceivables,-586000000.0,-1124000000.0,-130000000.0,-652000000.0
ChangesInAccountReceivables,-586000000.0,-1124000000.0,-130000000.0,-652000000.0
OtherNonCashItems,81000000.0,340000000.0,245000000.0,525000000.0
StockBasedCompensation,1812000000.0,1560000000.0,2121000000.0,1734000000.0
AssetImpairmentCharge,463000000.0,177000000.0,140000000.0,202000000.0
DeferredTax,-6349000000.0,-196000000.0,-149000000.0,NaN
DeferredIncomeTax,-6349000000.0,-196000000.0,-149000000.0,NaN
DepreciationAmortizationDepletion,4667000000.0,3747000000.0,2911000000.0,2322000000.0
DepreciationAndAmortization,4667000000.0,3747000000.0,2911000000.0,2322000000.0
Depreciation,4667000000.0,3747000000.0,2911000000.0,2322000000.0
OperatingGainsLosses,-144000000.0,221000000.0,-82000000.0,114000000.0
NetForeignCurrencyExchangeGainLoss,-144000000.0,81000000.0,-55000000.0,114000000.0
GainLossOnSaleOfPPE,0.0,140000000.0,-27000000.0,0.0
NetIncomeFromContinuingOperations,14974000000.0,12587000000.0,5644000000.0,862000000.0

In [21]:
info

{'address1': '1 Tesla Road',
 'city': 'Austin',
 'state': 'TX',
 'zip': '78725',
 'country': 'United States',
 'phone': '512 516 8177',
 'website': 'https://www.tesla.com',
 'industry': 'Auto Manufacturers',
 'industryKey': 'auto-manufacturers',
 'industryDisp': 'Auto Manufacturers',
 'sector': 'Consumer Cyclical',
 'sectorKey': 'consumer-cyclical',
 'sectorDisp': 'Consumer Cyclical',
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits; and non-warranty after-sales vehicle, used vehicles, body shop and parts, supercharging, retail merchandise, and vehicle insurance services. This segment also provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; purchase financing and leasing services; services for electric vehicles through its company-owned service locations and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners; and provision of service and repairs to its energy product customers, including under warranty, as well as various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.',
 'fullTimeEmployees': 140473,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Elon R. Musk',
   'age': 51,
   'title': 'Technoking of Tesla, CEO & Director',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 27819718656},
  {'maxAge': 1,
   'name': 'Mr. Andrew D. Baglino',
   'age': 42,
   'title': 'Senior Vice President of Powertrain & Energy Engineering',
   'yearBorn': 1981,
   'fiscalYear': 2022,
   'totalPay': 303000,
   'exercisedValue': 33866368,
   'unexercisedValue': 57355632},
  {'maxAge': 1,
   'name': 'Mr. Vaibhav  Taneja',
   'age': 45,
   'title': 'CFO, Corporate Controller & Chief Accounting Officer',
   'yearBorn': 1978,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Martin  Viecha',
   'title': 'Senior Director for Investor Relations',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brian  Scelfo',
   'title': 'Senior Director of Corporate Development',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey Brian Straubel',
   'age': 47,
   'title': 'Independent Director',
   'yearBorn': 1976,
   'fiscalYear': 2022,
   'totalPay': 250560,
   'exercisedValue': 9413986,
   'unexercisedValue': 60867856},
  {'maxAge': 1,
   'name': 'Mr. Franz  von Holzhausen',
   'title': 'Chief Designer',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Xiaotong  Zhu',
   'age': 43,
   'title': 'Senior Vice President of Automotive',
   'yearBorn': 1980,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. John  Walker',
   'age': 60,
   'title': 'Vice President of Sales - North America',
   'yearBorn': 1963,
   'fiscalYear': 2022,
   'totalPay': 121550,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Peter  Bannon',
   'title': 'Chip Architect',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 8,
 'boardRisk': 9,
 'compensationRisk': 8,
 'shareHolderRightsRisk': 9,
 'overallRisk': 9,
 'governanceEpochDate': 1709251200,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 180.74,
 'open': 179.99,
 'dayLow': 173.7,
 'dayHigh': 181.57,
 'regularMarketPreviousClose': 180.74,
 'regularMarketOpen': 179.99,
 'regularMarketDayLow': 173.7,
 'regularMarketDayHigh': 181.57,
 'beta': 2.415,
 'trailingPE': 40.960556,
 'forwardPE': 42.23445,
 'volume': 106883454,
 'regularMarketVolume': 106883454,
 'averageVolume': 108416660,
 'averageVolume10days': 102121890,
 'averageDailyVolume10Day': 102121890,
 'bidSize': 1000,
 'askSize': 1000,
 'marketCap': 562242781184,
 'fiftyTwoWeekLow': 152.37,
 'fiftyTwoWeekHigh': 299.29,
 'priceToSalesTrailing12Months': 5.809914,
 'fiftyDayAverage': 208.2982,
 'twoHundredDayAverage': 234.9324,
 'currency': 'USD',
 'enterpriseValue': 543696912384,
 'profitMargins': 0.15496999,
 'floatShares': 2762232423,
 'sharesOutstanding': 3184790016,
 'sharesShort': 88650365,
 'sharesShortPriorMonth': 80466304,
 'sharesShortPreviousMonthDate': 1705017600,
 'dateShortInterest': 1707955200,
 'sharesPercentSharesOut': 0.0278,
 'heldPercentInsiders': 0.13,
 'heldPercentInstitutions': 0.45744,
 'shortRatio': 0.8,
 'shortPercentOfFloat': 0.032,
 'impliedSharesOutstanding': 3184790016,
 'bookValue': 19.665,
 'priceToBook': 8.97737,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': 1.15,
 'netIncomeToCommon': 14999000064,
 'trailingEps': 4.31,
 'forwardEps': 4.18,
 'pegRatio': 3.84,
 'lastSplitFactor': '3:1',
 'lastSplitDate': 1661385600,
 'enterpriseToRevenue': 5.618,
 'enterpriseToEbitda': 40.102,
 '52WeekChange': 0.020934582,
 'SandP52WeekChange': 0.30279303,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'underlyingSymbol': 'TSLA',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'firstTradeDateEpochUtc': 1277818200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': 'ec367bc4-f92c-397c-ac81-bf7b43cffaf7',
 'messageBoardId': 'finmb_27444752',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 176.54,
 'targetHighPrice': 345.0,
 'targetLowPrice': 24.33,
 'targetMeanPrice': 206.19,
 'targetMedianPrice': 210.0,
 'recommendationMean': 2.8,
 'recommendationKey': 'hold',
 'numberOfAnalystOpinions': 39,
 'totalCash': 29094000640,
 'totalCashPerShare': 9.135,
 'ebitda': 13557999616,
 'totalDebt': 9573000192,
 'quickRatio': 1.141,
 'currentRatio': 1.726,
 'totalRevenue': 96772997120,
 'debtToEquity': 15.05,
 'revenuePerShare': 30.489,
 'returnOnAssets': 0.058819998,
 'returnOnEquity': 0.27348,
 'freeCashflow': 2230374912,
 'operatingCashflow': 13255999488,
 'earningsGrowth': 1.115,
 'revenueGrowth': 0.035,
 'grossMargins': 0.18249,
 'ebitdaMargins': 0.1401,
 'operatingMargins': 0.08201,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.0695}

In [22]:
inst_holders

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,Vanguard Group Inc,0.0701,222486933,58240404451
1,2023-06-30,Blackrock Inc.,0.0586,185889398,48660267714
2,2023-06-30,State Street Corporation,0.0328,104115390,27254285640
3,2023-06-30,"Geode Capital Management, LLC",0.0163,51656526,13522128811
4,2023-06-30,Capital World Investors,0.0133,42272512,11065675466
5,2023-06-30,"FMR, LLC",0.0091,28771552,7531529167
6,2022-12-31,Norges Bank Investment Management,0.0088,28085245,3459540479
7,2023-06-30,Morgan Stanley,0.0088,27983350,7325201529
8,2023-06-30,Price (T.Rowe) Associates Inc,0.0088,27984161,7325413824
9,2023-06-30,JP Morgan Chase & Company,0.0084,26739940,6999714093

In [23]:
news

[{'uuid': '577e910b-b1c5-3129-9847-5234ef3cdfdc',
  'title': "Things Just Went From Bad to Worse for General Motors and Self-Driving Start-Up Cruise. Here's Why I Think Tesla Is the Big Winner",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/577e910b-b1c5-3129-9847-5234ef3cdfdc/things-just-went-from-bad-to.html',
  'providerPublishTime': 1709812500,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/sVD2944gC54A9C7vXBjy_w--~B/aD03ODc7dz0xNDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/c201c24680da554708b8164da8c8633e',
     'width': 1400,
     'height': 787,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/4B2LSyXd1L2NQZccLnWwpw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/c201c24680da554708b8164da8c8633e',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA', 'GM']},
 {'uuid': '531e24c8-929c-3842-ad84-56519def6a23',
  'title': 'Tesla Stock Falls Further After Company Falls Out of Market-Cap Top 10',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/531e24c8-929c-3842-ad84-56519def6a23/tesla-stock-falls-further.html',
  'providerPublishTime': 1709810526,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/yfcqdbzkZRBgX69TssSuxA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/28937b12437d7c180c2d2a900dc64b0b',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/vXlETxhO1LJ1l8Ey8fWXuA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/28937b12437d7c180c2d2a900dc64b0b',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA']},
 {'uuid': '303f6e71-80a6-340f-8429-d8c129e92536',
  'title': 'These Stocks Are Moving the Most Today: NYCB, Tesla, Rivian, Victoria’s Secret, Rush Street, Kroger, Broadcom, and More',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/303f6e71-80a6-340f-8429-d8c129e92536/these-stocks-are-moving-the.html',
  'providerPublishTime': 1709809080,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/PQEAg6s6WM2TJf.zST1vjA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/3ffdf6fa59930c0e4241888602054e35',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/ZMcO.JqlqvynTnQ8BMudRQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/3ffdf6fa59930c0e4241888602054e35',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NYCB', 'TSLA']},
 {'uuid': '44246831-5c70-3745-9a61-ee0c62167e4b',
  'title': 'A drop in deliveries triggers another round of price wars in the Chinese EV market—and that’s bad news for Tesla',
  'publisher': 'Fortune',
  'link': 'https://finance.yahoo.com/news/drop-deliveries-triggers-another-round-081614398.html',
  'providerPublishTime': 1709799374,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/9RIGKDl3XL22lnctGScxXQ--~B/aD0xMzY1O3c9MjA0ODthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/fortune_175/5cb00c153f97199d465d24ee6dac08d1',
     'width': 2048,
     'height': 1365,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/wL9vNewgnkO6BDhbGqjKOQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/fortune_175/5cb00c153f97199d465d24ee6dac08d1',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA']},
 {'uuid': 'c7af5e7f-406d-3601-8de7-17896b2f9fc2',
  'title': 'Tesla quits Australia auto lobby over claims on car emission standards',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/tesla-quits-australia-auto-lobby-042150254.html',
  'providerPublishTime': 1709785310,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Nc45YWJrVh3jtAvGLx2eCA--~B/aD01NTI7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/53f91fe5a9d6f2ca8cac208f6c7ac5ed',
     'width': 800,
     'height': 552,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/DZEUp0xnYUm.GCGbSfz9Fw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/reuters-finance.com/53f91fe5a9d6f2ca8cac208f6c7ac5ed',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA']},
 {'uuid': 'b67aeba1-fed9-33f9-8c4e-91666172d724',
  'title': 'Tesla Is No Longer One of the Top 10 Most Valuable S&P 500 Companies',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/b67aeba1-fed9-33f9-8c4e-91666172d724/tesla-is-no-longer-one-of-the.html',
  'providerPublishTime': 1709766120,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/id1J0QcdSHN38DlYWhkGFA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/df30d9cb5c2b8d4c2f90e7710bcf98a7',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/LMNHMQd82CJQXY05QFg7BA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/df30d9cb5c2b8d4c2f90e7710bcf98a7',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA']},
 {'uuid': 'b9fb5e66-4d3f-3542-99c6-5a91b5f97891',
  'title': 'OpenAI pushes back on Elon Musk lawsuit, says he suggested merger with Tesla',
  'publisher': 'Fox Business',
  'link': 'https://finance.yahoo.com/news/openai-pushes-back-elon-musk-215634223.html',
  'providerPublishTime': 1709762194,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/yu09uJa5MOzc9ESuNhyWkQ--~B/aD03MjA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/fox_business_text_367/fb8f99f9c397e49a40d48cff50b398ce',
     'width': 1280,
     'height': 720,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/pkE.3m2Y6chvPJBh_fymmA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/fox_business_text_367/fb8f99f9c397e49a40d48cff50b398ce',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA', 'GOOG']},
 {'uuid': '8c23499e-7211-3921-9e2b-6a2035c660a5',
  'title': "Magnificent Seven's AI plays are losing investor interest",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/magnificent-sevens-ai-plays-losing-214505243.html',
  'providerPublishTime': 1709761505,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/UzsseP79x.92nXn1Of3Usg--~B/aD0zMzc4O3c9NjAwMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2024-03/7293a220-dc01-11ee-9eb3-cea7f418869d',
     'width': 6000,
     'height': 3378,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/vYOcleETtLw.bXJG4T51Ig--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2024-03/7293a220-dc01-11ee-9eb3-cea7f418869d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOG', 'AAPL', 'TSLA']}]

In [24]:
recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m          4    4     8     6           1
1    -1m          5   12    19     4           4
2    -2m          5   12    20     4           4
3    -3m         10   16    11     3           2

## Fetch Options Chain Data

You might also be surprised by the fact that yahoo finance contains options chain data (options chain is the list of all options contracts available for a given asset). Its use is not only simple and straightforward but also rich in terms of the data retrieved.

In [25]:
tsla = yf.Ticker("TSLA")

tsla_options = tsla.option_chain()

tsla_puts = tsla_options.puts
tsla_calls = tsla_options.calls

In [26]:
tsla_puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,TSLA240308P00100000,2024-03-06 20:26:53+00:00,100.0,0.01,0.00,0.00,0.0,0.0,6.0,251,0.500005,False,REGULAR,USD
1,TSLA240308P00105000,2024-03-06 14:31:41+00:00,105.0,0.01,0.00,0.00,0.0,0.0,1.0,126,0.500005,False,REGULAR,USD
2,TSLA240308P00110000,2024-03-05 17:02:14+00:00,110.0,0.01,0.00,0.00,0.0,0.0,2.0,254,0.500005,False,REGULAR,USD
3,TSLA240308P00115000,2024-03-06 20:55:17+00:00,115.0,0.01,0.00,0.00,0.0,0.0,1.0,147,0.500005,False,REGULAR,USD
4,TSLA240308P00120000,2024-03-06 14:58:28+00:00,120.0,0.01,0.00,0.00,0.0,0.0,36.0,505,0.500005,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,TSLA240308P00335000,2024-02-02 15:17:01+00:00,335.0,151.61,131.90,132.75,0.0,0.0,2.0,0,0.000010,True,REGULAR,USD
62,TSLA240308P00365000,2024-02-05 18:21:33+00:00,365.0,183.04,187.45,188.60,0.0,0.0,NaN,0,3.906250,True,REGULAR,USD
63,TSLA240308P00385000,2024-03-05 15:28:43+00:00,385.0,205.40,0.00,0.00,0.0,0.0,2.0,0,0.000010,True,REGULAR,USD
64,TSLA240308P00390000,2024-03-06 19:16:24+00:00,390.0,213.60,0.00,0.00,0.0,0.0,3.0,0,0.000010,True,REGULAR,USD
65,TSLA240308P00395000,2024-03-06 19:34:00+00:00,395.0,218.15,0.00,0.00,0.0,0.0,31.0,0,0.000010,True,REGULAR,USD

In [27]:
tsla_calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,TSLA240308C00100000,2024-03-06 20:48:26+00:00,100.0,76.71,0.0,0.0,0.0,0.0,79,127,0.000010,True,REGULAR,USD
1,TSLA240308C00105000,2024-03-06 20:40:58+00:00,105.0,72.04,0.0,0.0,0.0,0.0,19,42,0.000010,True,REGULAR,USD
2,TSLA240308C00110000,2024-03-06 20:39:28+00:00,110.0,66.80,0.0,0.0,0.0,0.0,37,26,0.000010,True,REGULAR,USD
3,TSLA240308C00115000,2024-03-06 19:16:24+00:00,115.0,61.40,0.0,0.0,0.0,0.0,1,20,0.000010,True,REGULAR,USD
4,TSLA240308C00120000,2024-03-06 19:32:31+00:00,120.0,57.15,0.0,0.0,0.0,0.0,7,130,0.000010,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,TSLA240308C00365000,2024-02-26 17:16:04+00:00,365.0,0.01,0.0,0.0,0.0,0.0,40,181,0.500005,False,REGULAR,USD
72,TSLA240308C00370000,2024-03-01 14:47:23+00:00,370.0,0.01,0.0,0.0,0.0,0.0,7,74,0.500005,False,REGULAR,USD
73,TSLA240308C00375000,2024-02-26 17:20:24+00:00,375.0,0.01,0.0,0.0,0.0,0.0,40,87,0.500005,False,REGULAR,USD
74,TSLA240308C00380000,2024-02-29 15:05:55+00:00,380.0,0.01,0.0,0.0,0.0,0.0,7,622,0.500005,False,REGULAR,USD
75,TSLA240308C00395000,2024-03-06 14:30:05+00:00,395.0,0.01,0.0,0.0,0.0,0.0,1,91,0.500005,False,REGULAR,USD

## Tips & Tricks

A common task of price data is plotting it using candlesticks, which is very straightforward if we use yfinance in addition to Finplot.

In [30]:
tsla = yf.Ticker("TSLA")

df = tsla.history(interval="1d", period="1y")

# Plot the Open-Hight-Low-CLose candle chart
fplt.candlestick_ochl(df[["Open","Close","High","Low"]])
fplt.show()

C:\Users\jacob\AppData\Roaming\Python\Python310\site-packages\finplot\__init__.py:2774: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  return t.view('int64')
C:\Users\jacob\AppData\Roaming\Python\Python310\site-packages\finplot\__init__.py:2788: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  ts = ts.view('int64')

Another common issue arises when we need to change the bar size of the data retrieved by Yahoo. We might be interested in creating bar data with a custom size that is commonly not used, such as 45 minutes. In order to do so, we have to group smaller size bars into 45-minute candles. We could use 1, 5, or 15-minute bars, 15 being the most convenient value since it allows us to fetch more data.

In [ ]:
## The following script fetches 60 days’ worth of 15-minute bar data of Tesla:

tsla = yf.Ticker("TSLA")
df = tsla.history(interval="15m", period="60d")

df

In [ ]:
## And the following script transforms said data into 45-minute bars:

df_45min = df.groupby(pd.Grouper(freq='45Min')).agg(
    {"Open": "first",
     "High": "max",
     "Low": "min",
     "Close": "min",
     "Volume": "sum"})

df_45min